*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
	background-image: url(images/background.jpg); /* фон */
}

ul {
    list-style-image: url(images/label.png); /* картинка вместо маркера */
    margin-left: 75px; 
   }

.contentleft {
	position: relative; /* позиционируется с потоком, смещение относительно top, right ...*/
}

.sidebar{
  width: 260px;
  height: 100%;
  background-image: url(images/background2.jpg);
  padding: 30px 0px;
  position: fixed; /* удаляется из потока, не меняет местоположение при прокрутке */
}

.sidebar h2 {
	text-align: right;
	color: white;
	margin-right: 20px;

}

.sidebar h6 {
	text-align: right;
	color: grey;
	margin-right: 20px;
	margin-top:5px;
}

.sidebar ul li {
	margin-top:20px;
	padding: 15px;
	text-align: right;
	margin-right: 20px;
	color: grey;
	padding-bottom: 20px;
}

.sidebar ul li a {
	color: #bdb8d7;
    display: block;
}

.sidebar ul li:hover{
  background-color: #594f8d;
  border-radius: 5px;
}

.sidebar ul li:hover a{
  color: #fff;
}
.webnetwork {
	position: absolute; /* элемент удаляется из потока */
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%); /* перемещение элемента по оси Х с его начальной точки */
  display: flex;
}

.webnetwork a {
	padding: 5px;
	color: #bdb8d7;
}



